html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1em;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}

section {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1, h2 {
    text-align: center;
}

img {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

#education ul li {
    display: block;
}
