html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.main section {
    padding: 0px 10px;
}

h1, h2 {
    text-align: center;
}
